<!--     <div class="header">
      <div class="container">
        <h1>WEATHERMAN</h1>
      </div>
    </div>

    <div class="main" >
      <div class="container">
        <div class="col-md-9"> -->

          <head><title>{{allInfo.city.name}}</title></head>

          <h2>{{allInfo.city.name}}</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <!--<th>City</th>-->
                <th>Temp</th>
                <th>Pressure</th>
                <th>Wind speed</th>
                <th>Weather</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in allInfo.list">
                <td>{{x.dt_txt | date}}</td>
                <!--<td>{{allInfo.city.name}}</td>-->
                <td>{{x.main.temp}} °C</td>
                <td>{{x.main.pressure}} hpa</td>
                <td>{{x.wind.speed}} m/s</td>
                <td>{{x.weather[0].description}}</td>
              </tr>
            </tbody>
          </table>

<!--         </div>
        <div class="col-md-3">
          <button class="btn btn-block">Cherkassy</button>
          <button class="btn btn-block">Kiev</button>
          <button class="btn btn-block">Kharkiv</button>
        </div>
      </div>
    </div> -->