<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
  <title>Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h1>WEATHERMAN</h1>
      </div>
    </div>

    <div class="main" ng-controller="mainCtrl">
      <div class="container">

        <div class="col-md-9">
          <div class="loader" ng-show="!showSpinner"></div>
          <h2 ng-show="showTable">{{allInfo.city.name}}</h2>
          <table class="table" ng-show="showTable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Temp</th>
                <th>Pressure</th>
                <th>Wind speed</th>
                <th>Weather</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in allInfo.list | limitTo:17">
                <td>{{x.dt_txt | date}}</td>
                <td>{{kelvinToCelsius(x.main.temp)}} °C</td>
                <td>{{x.main.pressure}} hpa</td>
                <td>{{x.wind.speed}} m/s</td>
                <td>{{x.weather[0].description}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-3 buttons">
          <p>Search: <span class="badge">{{filteredButton.length}}</span><input ng-model="query.name"></p>    
          <p>Sort by:
            <select ng-model="sortBy">
              <option value="name">Alphabetical A-Z</option>
              <option value="-name">Alphabetical Z-A</option>
            </select>
          </p>

          <button class="btn btn-block" ng-repeat="x in filteredButton = (button.list | filter:query) | orderBy:sortBy" ng-click="myClick(x.id)" name="buttonCity"><a>{{x.name}}</a></button>
        </div>

      </div>
    </div>
        <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <!--<script src="bower_components/angular-route/angular-route.js"></script> -->

        <!-- Modules -->
    <script src="js/app.js"></script>
    
        <!-- Controllers -->
    <script src="js/controllers/controllers.js"></script>

        <!-- Services -->
    <script src="js/services/takeAjax.js"></script>

    <!--<script src="js/filters.js"></script>  -->   
  </body>
</html>  