body {
  background: #D3D3D3;
}

select {
  width: 200px;
}
input {
  width: 172px;
}
.btn {
  margin: 5px;
}
/*button {
  word-wrap: break-word;
}*/

.header {
  font-family: Segoe Print;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  border-bottom: 16px solid grey;
  width: 120px;
  height: 120px;
  margin-left: 25%;
  margin-top: 25%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}